<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculator" class="com.wicketapp.Calculator">
        <property name="expressionTransformer" ref="expressionTransformer"/>
    </bean>

    <bean id="expressionTransformer" class="com.wicketapp.ExpressionTransformer"/>

</beans>